body {
    background: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    font-family: 'Bangers', cursive; }
  
  button {
    background: #FEC900;
    border: 10px #000 solid;
    border-radius: 5px;
    color: #000;
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 100px;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    transition: all .2s ease;
    letter-spacing: 1px;
    transform: rotate(-3deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
    button:hover {
      background: #DA291C;
      color: #FFF;
      border: none;
      transition: all .2s ease;
      border-radius: 5px; }
  
  p {
    font-weight: 700; }
  
  .container {
    text-align: center; }
  
  .caution-tape {
    font-size: 6rem;
    width: 100%;
    border-top: 50px #000 solid;
    border-bottom: 50px #000 solid;
    background: #FEC900;
    height: 250px;
    line-height: 80px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
  
  .problem-text {
    color: #FEC900;
    position: relative;
    top: 60px;
    font-size: 3rem;
    letter-spacing: 3px;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
  